{% extends 'blog/base.html' %}
{% block content %}
<br>
<br>
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h1>Blog About</h1>
        <p>
            Welcome to BlogTown your go-to source for the latest news and updates on societal developments. We cover a wide range of topics including local community events, national politics, health and wellness, cultural trends, and global affairs. Our dedicated team brings you in-depth reports, insightful editorials, and engaging multimedia content. Stay informed with our feature stories, expert interviews, and real-time updates on pressing social issues. Join our community to discuss, share, and engage with the news that shapes our society. Login to our newsletter for exclusive content and never miss an update.
        </p>
    </div>
{% endblock content %}